/* Below 1344px ( smaller desktop) ((( 1344px / 16px = 84em ))) */
@media (max-width: 84em) {
    .hero{
        max-width: 120rem;
    }
    .heading_primary{
        font-size: 4.4rem;
    }
    .testimonial_img_box {
        grid-template-columns: repeat(2,1fr);
    }
}
/* Below 1200px ( smaller desktop) */
@media (max-width: 75em){
    html{
        font-size: 56.25%; /*  9px / 16px  */
    }
    .heading_secondary{
    font-size: 3.6rem;
    }
    .testimonial_text_box {
        padding: 4.2rem;
    }
    .grid_system{
        gap: 6.4rem;
        gap: 6.4rem 4.8rem;
    }
    .meals_types .container{
        gap: 1.6rem;
        grid-template-columns: 1.5fr 1.5fr;
    }
    .testimonial_text_box {
        padding: 2.4rem;
    }
    .testimonial_img_box {
        margin: 2.4rem;
    }
    .step_text_box .step_title{
        font-size: 3.2rem;
    }
    .price_section{
        padding: 9.6rem 0;
    }
}

/* Below 940px ( smaller desktop) */
@media (max-width: 59em) {
    html{
        font-size: 50%; /*  8px / 16px  */
    }
    .hero{
        grid-template-columns: 1fr;
        text-align: center;
        padding:16rem 4rem;
        gap: 6.4rem;
    }
    .list:hover + nav{
        display: block;
    }

    .main_nav {
        background: #fafafad6;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
        gap: 2rem;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        z-index: 1000;
    }
    .main_nav li{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .nave_open .main_nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .main_nav_list {
        flex-direction: column;
    }
    .btn_mobile_nav {
        display: block;
        z-index: 9999;
    }
    .nave_open .nave_icon_mobile[name="close-outline"] {
        display: block;
    }
    .main_nav a:link, .main_nav a:visited {
        font-size: 3.6rem;
    }
    /* .list{
        display: block;
    } */
    .heading .meals_name {
        font-size: 2.6rem;
    }
    .delivered_meals{
        justify-content: center;
        margin-top: 3.4rem;
    }
    .hero-img {
        width: 60%;
    }
    .section_hero{
        padding: 0;
    }
    .featured img{
        height: 2.4rem;
    }
    .fetures_section {
        grid-template-columns: repeat(2,1fr);
    }
    .container{
        padding: 0px 3.4em;
    }
    .price_content {
        padding: 1.6rem;
        gap: 2rem;
    }
    .social .media a {
        margin-right: 1.2rem;
    }
}
/* 770px */
@media  (max-width: 47em){
    html{
        font-size: 44%;
    }
    .featured img {
        height: 1.8rem;
    }

    .box_img .app_omnofood {
        width: 40%;
    }
    .box_img::before {
        width: 20rem;
        height: 20rem;
    }
    .box_img::after {
        width: 30rem;
        height: 30rem;
    }

    .container {
        padding: 0px 4.2em;
    }
    .work_diet{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .diet_list li {
        margin-bottom: 2.4rem;
        font-size: 3.4rem;
    }
    .work_diet h3 {
        font-size: 3.4rem;
    }
    .more_recipe a {
        font-size: 2.6rem;
    }
    .testimonial {
        grid-template-columns: 1fr;
    }
    .testimonial_img_box{
        grid-template-columns: repeat(6,1fr);
    }
    footer .container {
        grid-template-columns: repeat(3,1fr);
    }
}

/* 544px  */
@media (max-width: 34em){
    html{
        font-size: 38%;
    }
    .heading_primary {
        font-size: 5.4rem;
    }
    .hero_description {
        font-size: 2.4rem;
    }
    .box_img .app_omnofood {
        width: 35%;
    }
    .box_img::before {
        width: 30rem;
        height: 30rem;
    }
    .box_img::after {
        width: 40rem;
        height: 40rem;
    }
    .btn:link, 
    .btn:visited {
        font-size: 2.8rem;
    }
    .delivered_meals {
        margin-top: 5.4rem;
    }
    .delivered_meals {
        gap: 3.6rem;
        flex-direction: column;
    }
    .delivered_meals img {
        height: 6.8rem;
        width: 6.8rem;
    }
    .step_text_box .step_text {
        font-size: 2.4rem;
    }    
    .featured .featured_text {
        font-size: 3.4rem;
    }
    .delivered_meals p {
        font-size: 2.6rem;
        font-weight: 600;
    }

    .grid_two_column{
        grid-template-columns: 1fr;
    }
    .omnifood_logo {
        height: 3.2rem;
    }
    .how .container .box_img:nth-child(2){
        grid-row: 1;
    }
    .how .container .box_img:nth-child(6){
        grid-row: 5;
    }
    .category span{
        font-size: 2.2rem;
    }
    .meals_types .container {
        gap: 3.6rem;
        grid-template-columns: 1fr;
    }
    .meal_card {
        width: 85%;
        margin: auto;
    }
    .meals_details .detail_line {
    font-size: 2.4rem;
    padding-bottom: 4.6rem;
    }
    .meal_text h3 {
        padding: 2.4rem 0 6.2rem;
        font-size: 3.2rem;
    }
    .testimonial_cards .single_card img {
        height: 9.4rem;
    }
    .testimonial_cards .single_card .name {
        font-size: 2.6rem;
    }
    .testimonial_cards .single_card .content {
        font-size: 2.4rem;
    }
    .price_content{
        flex-wrap: wrap;
    }
    .fetures_section {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .feature_icon{
        margin: auto;
    }
    .feature_head {
        padding: 2.4rem 0;
        font-size: 2.8rem;
    }    
    .social .logo img {
        height: 15px;
    }
    .testimonial_cards {
        grid-template-columns: 1fr;
    }
    .testimonial_text_box {
        padding: 9.4rem;
    }
    .testimonial_img_box {
        grid-template-columns: repeat(3,1fr);
    }
    .main_nav{
        padding: 12vh 0;
    }
    .cta_form {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .cta_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
    .section-cta .heading_secondary {
        font-size: 4.2rem;
    }
    .cta-text {
        font-size: 2.6rem;
        line-height: 1.4;
    }
    label {
        font-size: 2.6rem;
        font-weight: 700;
    }
    select, input {
        font-size: 2.6rem;
    }
    .img_cta{
        grid-row: 1;
    }
    footer {
        padding: 5.6rem 0;
    }
    footer .container {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 4.3rem 3.3rem;
    }
    footer .container div h3 {
        font-size: 2.4rem;
    }    
    .social .media a img {
        width: 20px;
        height: 20px;
    }    
    footer .social,footer .contact_us{
        grid-row: 2;
    }
}

@media (max-width: 24em){
.btn:link, .btn:visited{
    margin-bottom: 2.6rem;
    }
    .featured_imgs{
        flex-wrap: wrap;
    gap: 3rem;
    }
footer .container {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    }

}

/* SAFARI FLEXBOX */
.no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 4.8rem;
}
.no-flexbox-gap .list-item:not(:last-child) {
    margin-bottom: 1.6rem;
}
.no-flexbox-gap .list-icon:not(:last-child) {
    margin-right: 1.6rem;
}
.no-flexbox-gap .delivered-faces {
    margin-right: 1.6rem;
}
.no-flexbox-gap .meal-attribute:not(:last-child) {
    margin-bottom: 2rem;
}
.no-flexbox-gap .meal-icon {
    margin-right: 1.6rem;
}
.no-flexbox-gap .footer-row div:not(:last-child) {
    margin-right: 6.4rem;
}
.no-flexbox-gap .social-links li:not(:last-child) {
    margin-right: 2.4rem;
}
.no-flexbox-gap .footer-nav li:not(:last-child) {
    margin-bottom: 2.4rem;
}
@media (max-width: 75em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
        margin-right: 3.2rem;
    }
}
@media (max-width: 59em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4.8rem;
    }
}